

/* UNITS IN CSS */
/* font-size, width, height, pixels */
/* pixels are abolute values of measurement */
 h1{
  font-size: 60px;
  width: 200px;
  height: 300px;
  background: blue;

 }

/* Percent values- RELATIVE */
/* % element  is going to depend on the parent element, for example in this case the outer is the parent while the inner is the child */
/* the inner will be half of the parent ie half of 500px */

.outer{
 width: 500px;
 height: 500px;
 background: blue;
}

.inner{
 width: 50%;
 height: 50%;
 background: red;
}
